<div class="full-message">
  <div class="header">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">{{model.createdAt}}</div>
        <div class="subject">{{model.subject}}</div>
      </div>
    </div>
    <div>
      {{#with sender as user}}
        {{partial 'users/user-info'}}
      {{/with}}
      <span class="to"> to </span>
      {{#with recipient as user}}
        {{partial 'users/user-info'}}
      {{/with}}
    </div>
  </div>

  <hr>

  <div class="body">
    {{model.body}}
  </div>
</div>